@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  border-radius: px;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #85FFBD;
  border-color: rgb(85, 59, 59);
  background: linear-gradient(to bottom, #000000 0%, #86b7e7 100%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  border-left-style: black;
  border: 2px solid rgb(194, 50, 50)
}

.cabecalho {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(194, 50, 50);
    text-align: center;
    padding: 0.4rem;
    color: #fdfdfd;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    background: rgb(10, 10, 10);
    font-size: 1.25rem;
}

.wrapper {
  width: 380px;
  margin: 50px auto;
}


.container {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(85, 59, 59);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 106px;
  margin-bottom: 10px;
  padding: 0 10px;
  border: 2px solid rgb(194, 50, 50);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transition: all .3s ease-in;
  cursor: pointer;
}

.imagem {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 20%;
}

.imagem img {
  width: 100%;
  height: 100%;
}

.lista { width: calc( 100% - 100px ); 
  text-decoration:none; }
.Titulo,
.Descricao { display: block; }

.Titulo {
  letter-spacing: 1px;

  font-family: 'atvice', sans-serif;
  font-size: 20px;
}

.Descricao {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #929292;
}

.container:hover {
  background-color: #f7f7f7;
  transform: scale( 0.95 );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rodapé {
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    border-color: rgb(71, 43, 43);
    text-align: center;
    color: #fdfdfd;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    background: rgb(10, 10, 10);
    border: 2px solid rgb(194, 50, 50);
}

.tela2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #aaaaaa;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tela2 img{
  max-width:500px;
  max-height:200px;
  width: auto;
  height: auto;
}